<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <!-- Base configuration for all modules -->
        <configuration name="Helix.Base" abstract="true">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" />
          <targetDataStore physicalRootPath="$(serializationFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true" />
        </configuration>

        <!-- Foundation non-SXA modules -->
        <configuration name="Helix.Foundation" abstract="true" extends="Helix.Base">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(tenantName)/$(module)" />
          </predicate>
        </configuration>

        <!-- Foundation/Feature SXA modules -->
        <configuration name="Helix.XA.Module" abstract="true" extends="Helix.Base">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(tenantName)/$(module)" />
            <include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(tenantName)/$(module)" />
            <include name="System.Settings" database="master" path="/sitecore/system/Settings/$(layer)/$(tenantName)/$(module)" />
            <include name="Templates.Branches" database="master" path="/sitecore/templates/Branches/$(layer)/$(tenantName)/$(module)" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/$(layer)/$(tenantName)/$(module)" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/$(layer)/$(tenantName)/$(module)" />
          </predicate>
        </configuration>

        <!-- Feature non-SXA modules -->
        <configuration name="Helix.Feature" abstract="true" extends="Helix.Base">
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(tenantName)/$(module)" />
          </predicate>
        </configuration>

        <!-- Project modules -->
        <configuration name="Helix.Project" abstract="true" extends="Helix.Base">
          <predicate>
            <!-- This will be configured individually because Project layer is a bit different than the rest. -->
          </predicate>
        </configuration>
        <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
        <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(serializationFolder)\$(layer)\$(module)\serialization\Users\" singleInstance="true" />
      </configurations>
    </unicorn>
  </sitecore>
</configuration>