@import "abstracts/vars";
@import "abstracts/mixins";

.cover-background .promo.title-subtitle {
    margin-top: 100px;
    margin-bottom: 50px;

    span.field-promotext2 p {
        font-size: 2em;
        @include respond-to(mobile-large) {
            font-size: 1em;
        }
    }

    @include respond-to(mobile-large) { 
        margin-top: 10px;
        margin-bottom: 5px;
        span.field-promotext2 p { 
            font-size: 1em;
        }
        h1 {
            font-size: 1.2em;
        }
    }
    @include respond-to(mobile) {
        margin-top: 10px;
        margin-bottom: 5px;
        span.field-promotext2 p { 
            font-size: 1em;
        }
        h1 {
            font-size: 1.2em;
        }
    }
}
.promo.col-12.title-subtitle p {
    font-size: 1.3em;
    @include respond-to(mobile-large) { 
        font-size: 1em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: lighter;
}

h1 {
    font-size: 4.5em;
    @include respond-to(mobile) {
        font-size: 2.5em;
    }
    @include respond-to(mobile-large) {
        font-size: 2.5em;
    }
   
}


/*h2  {
    font-size: 3em;
    color: #333;
    margin-bottom: 30px;
}*/

.field-promotext2 {
    font-weight: normal;
}
#header {
    height: auto;
}
#header-navigation.boxed {
    margin-top: 50px;
    margin-bottom: -10px !important;
    @include respond-to(tablet) {
        margin-top: 0px;
    }
    @include respond-to(mobile) {
        margin-top: 0px;
    }
}

.navigation.navigation-main {
    .rel-level1 > .navigation-title > a {
        font-weight: lighter;
        font-size: 20px;
    }
 
    .rel-level2 {
        display: block;
    }
}

.rich-text.col-12.large {
    padding: 24px 0px !important;
    font-size: 3em;
}

.flip .flipsides {
    height: 300px;

    .slide-content {
        padding-top: 30px
    }
}

.search-box input[type="text"] {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}

.list-promo {
    .promo.title-subtitle {
        h1 {
            color: #1CA6A3;
        }
        span.field-promotext2 {
            display: inline-block;
            background: #1CA6A3;
            color:#fff;
            text-transform: uppercase;
            font-weight: bold;
            height: 55px;
            width: 100%;
            vertical-align: middle;
        }
        span.field-promotext2:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
          }
    }
}

.list-promo-images {
    .promo.title-subtitle {
        div.field-promoicon {
            width: 30%;
            float: left;
        }
        span.field-promotext2 {
            width: 65%;
            float: left;
            margin-left: 15px;
        }
    }
}

#statement span.field-promotext2 p {
    padding: 20px;
    line-height: 2em;
}

.highlighted-top, .highlighted-bottom {
    padding: 50px;
}

/* 
    Main Navigation
*/

.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul 
{
    min-width: 180px;
    border-top: 2px solid #fe2911;
}

.navigation.navigation-main .rel-level2.show > ul {
    
    width: 250px;
    left: 178px;
    border-top: 2px solid #fe2911;
    .rel-level3 {
        height: 50px;
        padding: 0px 10px;
    
        img {
            float: left;
            margin: 10px 10px 0px 0px;
            max-width: 32px;
        }
        div.navigation-title {
            float: left;
            padding: 10px 0px;
        }
    }
}
li.level2.navigation-image, li.level3.navigation-image {
    width: 33%;
    float: left;
}

