<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>

    <!-- 
      The projectFolder variable is being used in the custom creative exchange datastore
    -->
    <sc.variable name="projectFolder" value="C:\Projects\Sitecore.XA.Styleguide" />
    <sc.variable name="sourceFolder" value="$(projectFolder)\src" />
    <sc.variable name="serializationFolder" value="$(projectFolder)\items" />

    <sc.variable name="tenantName" value="Sitecore" />
    <sc.variable name="siteName" value="Styleguide" />

    <!-- 
        ContentSearch configuration for SXA SOLR cores
    -->
    <!--
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_sxa_master_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider" role:require="Standalone or Reporting or ContentManagement or Processing">
            <param desc="core" patch:instead="param[@desc='core']">sxa93_sxa_master_index</param>
          </index>
          <index id="sitecore_sxa_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider" role:require="Standalone or ContentDelivery or ContentManagement or Reporting">
            <param desc="core" patch:instead="param[@desc='core']">sxa93_sxa_web_index</param>
          </index>
        </indexes>
      </configuration>
    </contentSearch>-->

  </sitecore>
</configuration>