<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:sxa="http://www.sitecore.net/xmlconfig/sxa/">
  <sitecore unicorn:require="On" sxa:require="On">
    <unicorn>
      <configurations>
        <configuration name="Project.Website" description="SXA Styleguide content" dependencies="Feature.*" extends="Helix.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Content" database="master" path="/sitecore/content/$(tenantName)/$(siteName)" />
            <include name="Forms" database="master" path="/sitecore/Forms/$(tenantName)/$(siteName)" />
            <include name="Media" database="master" path="/sitecore/media library/Project/$(tenantName)/$(siteName)" />
            <include name="Themes" database="master" path="/sitecore/media library/Themes/$(tenantName)/$(siteName)" />
            <include name="Settings" database="master" path="/sitecore/system/Settings/Feature/Styleguide"></include>
            <include name="Layout" database="master" path="/sitecore/layout/Renderings/Feature/Styleguide"></include>
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Styleguide"></include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>