<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Website.Styleguide" description="Contains all the content items for the Styleguide website" dependencies="Foundation.*,Feature.*,Project.Common" extends="Helix.Base" patch:after="configuration[@name='Project.Common']">
          <predicate>
            <include name="Content.Sitecore.Styleguide" database="master" path="/sitecore/content/$(tenantName)" >
              <exclude childrenOfPath="Styleguide/Media/*" />
            </include>
            <include name="Forms.Sitecore.Styleguide" database="master" path="/sitecore/Forms/$(tenantName)/$(siteName)">
            </include>
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="true" updateSearchIndex="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>