<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <!-- 
      Enable SPE remoting
    -->
    <powershell>
      <services>
        <remoting enabled="true" requireSecureConnection="false">
          <authorization>
            <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" />
          </authorization>
        </remoting>
      </services>
      <userAccountControl>
        <tokens>
          <token name="Default" expiration="00:00:00" elevationAction="Allow"/>
        </tokens>
      </userAccountControl>
    </powershell>

    <!--
    	Unicorn UI Identity Server Configuration
    -->
    <pipelines>
      <owin.cookieAuthentication.validateIdentity>
        <processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication">
          <siteNeutralPaths hint="list">
            <path hint="unicorn">/unicorn.aspx</path>
          </siteNeutralPaths>
        </processor>
      </owin.cookieAuthentication.validateIdentity>
    </pipelines>

    <!-- 
      Increase performance settings 
    -->
    <settings>
      <setting name="Counters.Enabled">
        <!-- disable perf counters for a performance boost -->
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Xdb.Enabled" value="false" />
      <setting name="Xdb.Tracking.Enabled" value="false" />
      <setting name="ContentTesting.AutomaticContentTesting.Enabled" value="false" />
    </settings>

  </sitecore>
</configuration>