<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    
    <sc.variable name="sourceFolder" value="$(projectFolder)\src" />
    
    <sc.variable name="tenantName" value="Sitecore" />
    <sc.variable name="siteName" value="Styleguide" />
    
    <setting name="Rainbow.SFS.SerializationFolderPathMaxLength" value="150" />
    <setting name="Rainbow.SFS.MaxItemNameLengthBeforeTruncation" value="50" />
    
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Includes the root tenant folder." extends="Helix.Foundation">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Foundation.Templates" database="master" path="/sitecore/templates/Project/$(tenantName)">
              <include children="true" />
            </include>

            <include name="Foundation.Content" database="master" path="/sitecore/content/$(tenantName)">
              <exclude children="true" />
            </include>

            <include name="Foundation.Themes" database="master" path="/sitecore/media library/Themes/$(tenantName)">
              <exclude children="true" />
            </include>

            <include name="Foundation.Media" database="master" path="/sitecore/media library/Project/$(tenantName)">
              <exclude children="true">
                <except name="shared" />
              </exclude>
            </include>
              
            <include name="Foundation.Forms" database="master" path="/sitecore/Forms/$(tenantName)">
              <exclude children="true" />
            </include>

          </predicate>

        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>