&.centered-page-intro {
    padding-top: 10px;
    padding-bottom: 10px;
    &.boxed {
        margin-bottom: 0px;
    }
    .text-wrapper {
        width: 75%;
        margin: 0 auto;

        h1 {
            font-weight: 300;
            font-size: 3em;
        }

        .field-content {
            font-size: 1.1em;
        }
    }
}
