<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.CssAnimations" description="Extension theme that enables CSS Animations" extends="Helix.Base" dependencies="Project.Common" patch:after="configuration[@name='Project.Common']">
          >
          <predicate>
            <include name="CssAnimations.System.Settings" database="master" path="/sitecore/system/Settings/$(layer)/$(tenantName)">
              <exclude children="true">
                <except name="$(module)" />
              </exclude>
            </include>
            <include name="CssAnimations.Templates.Branches" database="master" path="/sitecore/templates/Branches/$(layer)/$(tenantName)">
              <exclude children="true">
                <except name="$(module)" />
              </exclude>
            </include>
            <include name="CssAnimations.Theme.Extension" database="master" path="/sitecore/media library/Extension Themes">
              <exclude children="true">
                <except name="$(module)" />
              </exclude>
            </include>
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>