<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="On">
    <unicorn>
      <configurations>
        <configuration name="Feature.CssAnimations" description="Extension theme used in the Styleguide theme" dependencies="Foundation.*" extends="Helix.Feature">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Branches/Feature/CSS Animations" />
            <include name="System" database="master" path="/sitecore/system/Settings/Feature/CSS Animations" />
            <include name="Media" database="master" path="/sitecore/media library/Extension Themes/CSS Animations" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>