<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.CssAnimations" description="Extension theme that enables CSS Animations" extends="Helix.Base" dependencies="Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <predicate>
            <include name="System.Settings" database="master" path="/sitecore/system/Settings/$(layer)/$(tenantName)/$(module)" />
            <include name="Templates.Branches" database="master" path="/sitecore/templates/Branches/$(layer)/$(tenantName)/$(module)" />
            <include name="Theme.Extension" database="master" path="/sitecore/media library/Extension Themes/$(module)" />
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>