&.bg-page-list {
    .item > div::after {
        content: "";
        display: block;
        background: #fff;
        z-index: 5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: relative;
    }
    .item > div .bg-wrapper {
        position: relative;
        z-index: 10;
        background: #fff;
        opacity: 0.8;
    }
    .item {
        .fruit-properties {
            padding: 5px;
            background: #f0f0f0;
            font-size: 0.8em;
        }
    }
}