&.page-list-thumbs-small {
    .item {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        border: none;
        width: 16%;
        margin: 0;
        padding: 16px;
        text-align: center;
        img {
            width: 100%;
            height: auto;
        }
    }
}