<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:sxa="http://www.sitecore.net/xmlconfig/sxa/">
  <sitecore unicorn:require="On" sxa:require="On">
    <unicorn>
      <configurations>
        <configuration name="Project.Styleguide.Website" description="SXA Styleguide content" dependencies="Foundation.*" extends="Helix.Base">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Project.Styleguide.Content" database="master" path="/sitecore/content/$(tenantName)/$(siteName)"></include>
            <include name="Project.Styleguide.Forms" database="master" path="/sitecore/Forms/$(tenantName)/$(siteName)"></include>
            <include name="Project.Styleguide.Media" database="master" path="/sitecore/media library/Project/$(tenantName)/$(siteName)" />
            <include name="Project.Styleguide.Themes" database="master" path="/sitecore/media library/Themes/$(tenantName)/$(siteName)" />
            <include name="Project.Styleguide.Templates" database="master" path="/sitecore/media library/Themes/$(tenantName)/$(siteName)" />

            <include name="Feature.Styleguide.Content" database="master" path="/sitecore/system/Settings/Feature/Styleguide"></include>
            <include name="Feature.Styleguide.Layout" database="master" path="/sitecore/layout/Renderings/Feature/Styleguide"></include>
            <include name="Feature.Styleguide.Templates" database="master" path="/sitecore/templates/Feature/Styleguide"></include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>