<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- 
      Enable SPE remoting
    -->
    <powershell>
      <services>
        <remoting enabled="true" requireSecureConnection="false">
          <authorization>
            <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" />
          </authorization>
        </remoting>
      </services>
      <userAccountControl>
        <tokens>
          <token name="Default" expiration="00:00:00" elevationAction="Allow"/>
        </tokens>
      </userAccountControl>
    </powershell>
    
    <!-- 
      Increase performance settings 
    -->
    <settings>
      <setting name="Counters.Enabled">
        <!-- disable perf counters for a performance boost -->
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Xdb.Enabled" value="false" />
      <setting name="Xdb.Tracking.Enabled" value="false" />
      <setting name="ContentTesting.AutomaticContentTesting.Enabled" value="false" />
    </settings>
    
  </sitecore>
</configuration>