@charset "UTF-8";
/* breakpoints */
.promo {
  /*background: $promo-bg;*/
  padding: 15px;
  overflow: hidden;
  box-sizing: border-box;
  /*.field-promoicon {

        img {
            width: 100%;
            height: auto;
        }
    }*/
}

.promo > .component-content {
  position: relative;
  /*@include border-basic(all, $promo-border);*/
}

.promo > .component-content:after {
  content: "";
  display: table;
  clear: both;
}

.promo > .component-content > div {
  padding: 5px;
}

.promo .zg-height-fix .field-promoicon {
  margin-top: 100px;
}

.promo .field-promolink {
  margin-top: 5px;
  padding-bottom: 10px;
}

.promo.image-full-size img {
  margin-bottom: 10px;
}

.promo.list-promo {
  margin-top: 50px;
  margin-bottom: 50px;
}

.promo.scriban-list-promo-images h2 {
  text-align: center;
}

.promo.scriban-list-promo-images .introduction {
  text-align: center;
}

.promo.scriban-list-promo-images .item-list {
  margin-top: 15px;
}

.promo.scriban-list-promo-images .item-list .item {
  margin-bottom: 30px;
}

.promo.scriban-list-promo-images .item-list .item img {
  float: left;
  max-width: 30%;
}

.promo.scriban-list-promo-images .item-list .item .description {
  float: left;
  max-width: 70%;
  padding-left: 10px;
  min-height: 145px;
}

.promo.scriban-list-promo-images .item-list .item a {
  float: right;
}

.promo.text-image {
  background: transparent !important;
}

.promo.text-image > .component-content {
  border: 0;
}

.promo.text-image > .component-content div.text {
  width: 525px;
}

.promo.text-image > .component-content div.linkbutton a {
  background: #000;
  color: #fff;
  border: 2px solid #000;
  padding: 8px 23px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.promo.text-image > .component-content div.linkbutton a::after {
  content: " ➔";
  color: #de232f;
  margin-left: 4px;
  display: inline-block;
  -webkit-transition: margin .1s ease;
  transition: margin .1s ease;
}

.promo.text-image > .component-content div.linkbutton a:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

.promo.text-image.image-right .field-promoicon {
  margin-left: 40px;
}

.promo.text-image.image-left .field-promoicon {
  margin-right: 40px;
}

.promo.text-image {
  background: transparent !important;
}

.promo.text-image > .component-content {
  border: 0;
}

.promo.text-image > .component-content div.text {
  width: 65%;
}

.promo.text-image.image-right .field-promoicon {
  margin-right: 40px;
}

.promo.text-image.image-left .field-promoicon {
  margin-right: 40px;
}

.promo.text-right-image-left {
  background: transparent !important;
}

.promo.text-right-image-left > .component-content {
  border: 0;
  /*
        h1 {
            font-size: 4em;
        }
        .field-promoicon img {
            height: auto;
            width: auto;
        }

        div.text {
            width: 45%;
            margin-right: 15px;
        }
        */
}

.promo.title-image-text-link {
  background: transparent !important;
}

.promo.title-image-text-link > .component-content {
  border: 0;
}

.promo.title-image-text h2 {
  text-align: center;
}

.promo.title-image-text .img-responsive img {
  width: 100%;
  height: auto;
}

.promo.title-subtitle {
  background: transparent !important;
}

.promo.title-subtitle > .component-content {
  border: 0;
}

.promo h1, .promo h2, .promo h3, .promo h4, .promo h5, .promo h6 {
  color: #222;
}

.promo h1, .promo h2 {
  margin: 10px 0;
}

.promo h3, .promo h4, .promo p {
  margin: 5px 0;
}

.promo h5, .promo h6 {
  margin: 5px 0 0;
}

.promo strong {
  font-weight: 700;
}

.promo ul, .promo ol {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
}

.promo li {
  font-size: 13px;
  margin-left: 15px;
}

.promo ul li {
  list-style: disc;
  list-style-position: inside;
}

.promo ol li {
  list-style: decimal;
  list-style-position: inside;
}

.promo a {
  color: #de232f;
  text-decoration: underline;
  font-size: 1em;
}

.promo a:hover {
  color: #878787;
}

.promo table {
  height: auto !important;
  border: 2px solid #d2d2d2;
}

.promo table, .promo table tr, .promo table th, .promo table td {
  border: solid 2px #d2d2d2;
  background: #FFFFFF;
  border-collapse: collapse;
  vertical-align: middle;
}

.promo table tr, .promo table th, .promo table td {
  padding: 5px;
}

.promo table caption {
  background-color: #f7f7f7;
  overflow: hidden;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}

.promo table tr {
  border: none;
}

.promo table th, .promo table td {
  border-width: 2px 0 0 2px;
}

.promo table th {
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 7px;
}

.promo table th:first-child {
  border-left: 0;
}

.promo table td:first-child {
  border-left: 0;
}

.promo.absolute-bottom-link {
  position: relative;
}

.promo.absolute-bottom-link .field-promolink {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* breakpoints */
.promo.promo-hero {
  position: relative;
  text-align: center;
}

.promo.promo-hero.promo-hero-half {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 1169px) {
  .promo.promo-hero.promo-hero-half {
    float: none;
    width: 100%;
  }
}

.promo.promo-hero .field-promotext {
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.promo.promo-hero .field-promotext > a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 1169px) {
  .promo.promo-hero .field-promotext {
    width: 100%;
    margin: 0;
  }
  .promo.promo-hero .field-promotext h1 {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .promo.promo-hero .field-promotext h2, .promo.promo-hero .field-promotext h3, .promo.promo-hero .field-promotext h4 {
    font-size: 20px;
    font-size: 2rem;
  }
}

/* breakpoints */
.promo-shadow {
  max-width: 960px;
  padding: 0;
  border-top-width: 3px;
  border-top-color: #89C6CC;
  border-style: solid;
  overflow: visible;
  position: relative;
}

.promo-shadow.promo {
  float: left;
}

.promo-shadow > .component-content {
  padding: 15px;
  margin: 0 0 30px 0;
}

@media only screen and (max-width: 1169px) {
  .promo-shadow > .component-content {
    margin: 0 10px 30px 10px;
  }
}

.promo-shadow > .component-content:before, .promo-shadow > .component-content:after {
  opacity: 0.7;
  box-shadow: 0 17px 10px rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: -1;
  height: 20%;
  max-height: 100px;
  max-width: 460px;
  width: 47%;
  content: "";
  bottom: 10px;
}

.promo-shadow > .component-content:before {
  left: 2%;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.promo-shadow > .component-content:after {
  right: 2%;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
