@import "abstracts/vars";
@import "abstracts/mixins";
@import "base/fontawesome/font-awesome-mix-var";

.toggle.mobile-navigation-toggle {
    summary.toggle-header {
        width: 100%;
        &:after {
            font-size: 28px;
            display: block;
            left: auto;
            right: 0;
            @include fa-icon-big();
            content: $fa-var-bars;
        }
        .toggle-label {
            width: 100%;
        }
    }
    details[open] {
        summary.toggle-header {
            width: 100%;
            &:after {
                font-size: 28px;
                @include fa-icon-big();
                content: $fa-var-close;
            }
            &:before {
                content: none;
            }
        }
    }
}

 