@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "base/fonts/fonts";
@import "base/fontawesome/font-awesome";
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0px;
}

body {
    @include lato-font-stack();
    position: relative;
    overflow: auto;
    color: $text-black;
    font-size: 16px;
    line-height: 1.5;
    background: $page-bg;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &.on-page-editor {
        background: $page-bg-editor !important;
    }
}

a {
    color: $text-black;
    cursor: pointer;
    font-size: 0.85em;
    &:hover {
        color: $text-basic-active;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

.xa-variable {
    border: 0px;
    padding: 1px;
    margin: 0px;
    background-color: #ebebe4;
    color: #545454;
    user-select: none;
    pointer-events: none;
}

//Navigation Bar fix 
#breadcrumbMenuSubcontrol_context_menu * {
    box-sizing: initial;
}
//End navigation bar fix 

#header {
    height: 110px;
}

.fixed-header.boxed {
    background: #fff;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}

main {
    margin-top: 10px;
}

.content h1,
.content h2 {
    margin: 20px 0px 10px 0px;
}
.content h3,
.content h4 {
    margin: 15px 0px 0px 0px;
}