@import "../../abstracts/vars";
@import "../../abstracts/mixins";
.navigation.navigation-sidebar {
    a {
        text-decoration: none;
    }
    nav>ul {
        .rel-level1 {
            margin-bottom: 10px;
            >.navigation-title {
                
                margin-bottom: 0;
                >a {
                    padding: 5px 10px;
                    display: block;
                    position: relative;
                    z-index: 1;
                    margin-right: 0;
                    font-weight: 500;
                    border-width: 0 0 0 5px;
                    background: #f9f9f9;
                }
            }
            >ul {
                margin-left: $extrasmall-margin;
                margin-top: $extrasmall-margin;
            }
        }
        .rel-level2 {
            display: block;
        }
    }
}
