.component.content.page-hero {
    .page-hero-text-container {
        top: -200px;
        padding: 20px 0px;
        h1 {
            font-size: 48px;
        }
        span {
            font-size: 24px;
        }
    }
}