<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Common" description="Content and settings common between different tenants." dependencies="Foundation.Serialization" extends="Helix.Base" patch:after="configuration[@name='Foundation.Serialization']">
          <predicate>
            <!-- Workflows tenant folders with subitems -->
            <!--<include name="System.Workflows.$(tenantName)" database="master" path="/sitecore/system/Workflows/$(tenantName)" />-->

            <!-- System languages -->
            <include name="System.Languages" database="master" path="/sitecore/system/Languages" />

            <!-- Templates -->
            <include name="Templates.Foundation.$(tenantName)" database="master" path="/sitecore/templates/Foundation/$(tenantName)">
              <exclude children="true">
                <except name="Styleguide" />
              </exclude>
            </include>
            <include name="Templates.Feature.$(tenantName)" database="master" path="/sitecore/templates/Feature/$(tenantName)" >
              <exclude children="true" />
            </include>
            <include name="Templates.Project.$(tenantName)" database="master" path="/sitecore/templates/Project/$(tenantName)" >
              <!-- No need to exclude these 'SXA' templates. They are tenant specific and not controlled by SXA once instantiated -->
              <!--
              <exclude children="true" >
                <except name="Home" />
                <except name="Page" />
                <except name="Page Design" />
                <except name="Page Design Folder" />
                <except name="Page" />
                <except name="Page Designs" />
                <except name="Partial Design" />
                <except name="Partial Design Folder" />
                <except name="Partial Designs" />
                <except name="Settings" />
                <except name="Site" />
                <except name="Tenant" />
              </exclude>
              -->
            </include>

            <!-- Branches -->
            <include name="Branches.Foundation.$(tenantName)" database="master" path="/sitecore/templates/Branches/Foundation/$(tenantName)" >
              <exclude children="true" />
            </include>
            <include name="Branches.Feature.$(tenantName)" database="master" path="/sitecore/templates/Branches/Feature/$(tenantName)">
              <exclude children="true" />
            </include>
            <include name="Branches.Project.$(tenantName)" database="master" path="/sitecore/templates/Branches/Project/$(tenantName)" >
              <exclude children="true" />
            </include>

            <!-- Layouts -->
            <include name="Layouts.Foundation.$(tenantName)" database="master" path="/sitecore/layout/layouts/Foundation/$(tenantName)" >
              <exclude children="true" />
            </include>
            <include name="Layouts.Feature.$(tenantName)" database="master" path="/sitecore/layout/layouts/Feature/$(tenantName)" >
              <exclude children="true" />
            </include>
            <include name="Layouts.Project.$(tenantName)" database="master" path="/sitecore/layout/layouts/Project/$(tenantName)">
              <exclude children="true" />
            </include>

            <!-- Models -->
            <include name="Models.Foundation.$(tenantName)" database="master" path="/sitecore/layout/models/Foundation/$(tenantName)">
              <exclude children="true" />
            </include>
            <include name="Models.Feature.$(tenantName)" database="master" path="/sitecore/layout/models/Feature/$(tenantName)" >
              <exclude children="true" />
            </include>
            <include name="Models.Project.$(tenantName)" database="master" path="/sitecore/layout/models/Project/$(tenantName)">
              <exclude children="true" />
            </include>

            <!-- Placeholder Settings -->
            <include name="PlaceholderSettings.Foundation.$(tenantName)" database="master" path="/sitecore/layout/placeholder settings/Foundation/$(tenantName)" >
              <exclude children="true" />
            </include>
            <include name="PlaceholderSettings.Feature.$(tenantName)" database="master" path="/sitecore/layout/placeholder settings/Feature/$(tenantName)" >
              <exclude children="true" />
            </include>
            <include name="PlaceholderSettings.Project.$(tenantName)" database="master" path="/sitecore/layout/placeholder settings/Project/$(tenantName)" >
              <exclude children="true" />
            </include>

            <!-- Renderings -->
            <include name="Renderings.Foundation.$(tenantName)" database="master" path="/sitecore/layout/renderings/Foundation/$(tenantName)" >
              <exclude children="true" />
            </include>
            <include name="Renderings.Feature.$(tenantName)" database="master" path="/sitecore/layout/renderings/Feature/$(tenantName)" >
              <exclude children="true" />
            </include>
            <include name="Renderings.Project.$(tenantName)" database="master" path="/sitecore/layout/renderings/Project/$(tenantName)" >
              <exclude children="true" />
            </include>

            <!--Settings-->
            <include name="Settings.Foundation.$(tenantName)" database="master" path="/sitecore/system/Settings/Foundation/$(tenantName)" >
              <exclude children="true">
                <except name="Styleguide" />
              </exclude>
            </include>
            <include name="Settings.Feature.$(tenantName)" database="master" path="/sitecore/system/Settings/Feature/$(tenantName)" >
              <exclude children="true" />
            </include>
            <include name="Settings.Project.$(tenantName)" database="master" path="/sitecore/system/Settings/Project/$(tenantName)" >
              <exclude children="true" />
            </include>

            <!-- Forms -->
            <include name="Forms.Project.$(tenantName)" database="master" path="/sitecore/Forms/$(tenantName)" >
              <exclude children="true" />
            </include>

            <!--System-->
            <!--<include name="System.Tasks" database="master" path="/sitecore/system/Tasks/Schedules/$(tenantName)" />-->

            <!-- Media -->
            <include name="Media.Foundation.$(tenantName)" database="master" path="/sitecore/media library/Foundation/$(tenantName)" />
            <include name="Media.Feature.$(tenantName)" database="master" path="/sitecore/media library/Feature/$(tenantName)" />
            <include name="Media.Project.$(tenantName)" database="master" path="/sitecore/media library/Project/$(tenantName)" />
            <include name="Media.TemplateThumbnails" database="master" path="/sitecore/media library/System/Template Thumbnails" />

            <!--Themes-->
            <include name="Media.Themes.$(tenantName)" database="master" path="/sitecore/media library/Themes/$(tenantName)" >
              <!-- Excluding files generated by Asset Optimizer, they are dynamically updated if needed during page requests -->
              <!-- 
                Disabled since we are using the SXA CLI
              <exclude path="$(tenantName)/Scripts/optimized-min" />
              <exclude path="$(tenantName)/styles/optimized-min" />
              -->
            </include>

            <!-- Powershell Scripts -->
            <include name="System.Powershell.Scripts" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/$(siteName)" />

            <!--Content -->
            <include name="Applications.WebEdit.CustomExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/$(tenantName)" />

            <include name="Content.$(tenantName)" database="master" path="/sitecore/content/$(tenantName)" >
              <exclude children="true" />
            </include>
          </predicate>
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="16" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>