@charset "UTF-8";
/* breakpoints */
.toggle.mobile-navigation-toggle summary.toggle-header {
  width: 100%;
}

.toggle.mobile-navigation-toggle summary.toggle-header:after {
  font-size: 28px;
  display: block;
  left: auto;
  right: 0;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 28px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.toggle.mobile-navigation-toggle summary.toggle-header .toggle-label {
  width: 100%;
}

.toggle.mobile-navigation-toggle details[open] summary.toggle-header {
  width: 100%;
}

.toggle.mobile-navigation-toggle details[open] summary.toggle-header:after {
  font-size: 28px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 28px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
}

.toggle.mobile-navigation-toggle details[open] summary.toggle-header:before {
  content: none;
}
